In [1]:
load("master_phyloseq.RData")

In [2]:
ps.dat

Loading required package: phyloseq

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 14111 taxa and 1960 samples ]
sample_data() Sample Data:       [ 1960 samples by 26 sample variables ]
tax_table()   Taxonomy Table:    [ 14111 taxa by 8 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 14111 tips and 14109 internal nodes ]

In [6]:
rank_names(ps.dat)
glom <- tax_glom(ps.dat, taxrank=rank_names(ps.dat)[7])

[1] "V2" "V3" "V4" "V5" "V6" "V7" "V8" "V9"

In [7]:
glom

phyloseq-class experiment-level object
otu_table()   OTU Table:         [ 628 taxa and 1960 samples ]
sample_data() Sample Data:       [ 1960 samples by 26 sample variables ]
tax_table()   Taxonomy Table:    [ 628 taxa by 8 taxonomic ranks ]
phy_tree()    Phylogenetic Tree: [ 628 tips and 627 internal nodes ]

In [9]:
head(otu_table(glom))

              ASV117 ASV2862 ASV707 ASV14822 ASV14586 ASV267 ASV10570 ASV208
DM00001V1PQ     83    0       75    0        0        113    0         0
DM00001V2PQ16 3675   15       11    0        0          6    0         0
DM00003V3PQ16  229    0      136    0        0          0    0         0
DM00003V3PQ55  402   61      264    0        0          0    0         0
DM00004V3PQ16  350   73       63    0        0         15    0         0
DM00005V2PQ16    0    0        0    0        0        238    0        25
              ASV901 ASV2825 ⋯ ASV103 ASV2059 ASV3607 ASV571 ASV641 ASV6582
DM00001V1PQ    0     0       ⋯ 0      0       0       0       0     0
DM00001V2PQ16  0     0       ⋯ 0      0       0       0       0     0
DM00003V3PQ16  0     0       ⋯ 0      0       0       0       0     0
DM00003V3PQ55  0     0       ⋯ 0      0       0       0       0     0
DM00004V3PQ16  0     0       ⋯ 0      0       0       0       0     0
DM00005V2PQ16 26     0       ⋯ 0      0       0       0      11     0
              ASV1319 ASV2029 ASV1681 ASV25433
DM00001V1PQ    0      0       0       0
DM00001V2PQ16  0      0       0       0
DM00003V3PQ16  0      0       0       0
DM00003V3PQ55  0      0       0       0
DM00004V3PQ16  0      0       0       0
DM00005V2PQ16 12      0       0       0

In [10]:
write.table(as.data.frame(otu_table(glom)), "species_level.asvs.csv", sep=",")

In [11]:
write.table(as.data.frame(tax_table(glom)), "species_level.tax.csv", sep=",")